# Generic
__pycache__
/dist/
/SentenceTranslation.spec
/.idea/
/.mypy_cache/

# Data
/language_data/
/oldstuff/
*.mp3

# Envs
/env/
/console-env/
/webpage-env/

# Keys
.fernet_key
.logged_in_user

# Logs
logging.txt