body {
  background-image: url('../images/world-map.jpg');
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

h1{
  font-size: 45px;
  text-transform: uppercase;
  color: rgba(153, 0, 76, 255);
  -webkit-text-stroke: 1px black;
}

.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.box input[type= 'text'],.box input[type = 'password']{
  background: black;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgba(127, 127, 127, 255);
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type = 'text']:focus,.box input[type = 'password']:focus{
  width: 280px;
  border-color: rgba(120, 0, 50, 255);
}

.box input[type = 'submit']{
  border: 0;
  background: black;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgba(120, 0, 50, 255);
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type = 'submit']:hover{
  background: #2ecc71;
}

