<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Lingularity - Login</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login-page.css') }}">
    </head>

    <body>
        <form class="box" action="" method="post">
            <h1>Login</h1>
            <input type="text" name="usr" placeholder="Username">
            <input type="password" name="pwd" placeholder="Password">
            <input type="submit" name="" value="Login">

            {% if error_code==1 %}
                <p class="error_message">Username doesn't exist</p>
            {% elif error_code==2 %}
                <p class="error_message">Password incorrect</p>
            {% endif %}
        </form>
    </body>
</html>