<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Lingularity - Sign Up</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sign-up-page.css') }}">
    </head>

    <body>
        <form class="box" action="" method="post">
            <h1>Sign Up</h1>
            <input type="text" name="email" placeholder="Email address">
            <input type="text" name="usr" placeholder="Username">
            <input type="password" name="pwd" placeholder="Password">
            <input type="submit" name="" value="Register">

            {% if error_code==1 %}
                <p class="error_message">Invalid email address</p>
            {% elif error_code==2 %}
                <p class="error_message">Email address already taken</p>
            {% elif error_code==3 %}
                <p class="error_message">Your password must comprise at least 5 characters</p>
            {% endif %}
        </form>
    </body>
</html>